body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12954 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:72px;
  width:1440px;
  height:900px;
}
#u12954_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12955 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:72px;
  width:73px;
  height:900px;
  color:#FFFFFF;
}
#u12955_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:440px;
  width:69px;
  word-wrap:break-word;
}
#u12956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12956 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:72px;
  width:77px;
  height:33px;
}
#u12956_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u12957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u12957 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:82px;
  width:65px;
  height:30px;
  color:#FF0000;
}
#u12957_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u12958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:46px;
}
#u12958 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:82px;
  width:353px;
  height:46px;
}
#u12958_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12959_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12959 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:172px;
  width:80px;
  height:30px;
}
#u12959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u12960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1372px;
  height:2px;
}
#u12960 {
  border-width:0px;
  position:absolute;
  left:79px;
  top:200px;
  width:1371px;
  height:1px;
}
#u12960_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12961_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u12961 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:172px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u12961_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u12962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u12962 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:178px;
  width:31px;
  height:18px;
}
#u12962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12963 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u12964 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:173px;
  width:34px;
  height:30px;
  color:#1E1E1E;
}
#u12964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u12965 {
  border-width:0px;
  position:absolute;
  left:273px;
  top:181px;
  width:15px;
  height:13px;
  color:#1E1E1E;
}
#u12965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12966 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:161px;
  width:63px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12967 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:135px;
  width:64px;
  height:451px;
}
#u12967_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:451px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:451px;
}
#u12969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u12969 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u12969_img.mouseOver {
}
#u12969.mouseOver {
}
#u12969_img.selected {
}
#u12969.selected {
}
#u12969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u12970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u12970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:64px;
  height:56px;
}
#u12970_img.mouseOver {
}
#u12970.mouseOver {
}
#u12970_img.selected {
}
#u12970.selected {
}
#u12970_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u12971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u12971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:64px;
  height:56px;
}
#u12971_img.mouseOver {
}
#u12971.mouseOver {
}
#u12971_img.selected {
}
#u12971.selected {
}
#u12971_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u12972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u12972 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:64px;
  height:56px;
}
#u12972_img.mouseOver {
}
#u12972.mouseOver {
}
#u12972_img.selected {
}
#u12972.selected {
}
#u12972_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u12973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u12973 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:224px;
  width:64px;
  height:56px;
}
#u12973_img.mouseOver {
}
#u12973.mouseOver {
}
#u12973_img.selected {
}
#u12973.selected {
}
#u12973_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u12974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u12974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:64px;
  height:57px;
}
#u12974_img.mouseOver {
}
#u12974.mouseOver {
}
#u12974_img.selected {
}
#u12974.selected {
}
#u12974_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u12975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u12975 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:337px;
  width:64px;
  height:57px;
}
#u12975_img.mouseOver {
}
#u12975.mouseOver {
}
#u12975_img.selected {
}
#u12975.selected {
}
#u12975_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u12976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u12976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:394px;
  width:64px;
  height:57px;
}
#u12976_img.mouseOver {
}
#u12976.mouseOver {
}
#u12976_img.selected {
}
#u12976.selected {
}
#u12976_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u12977 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:280px;
  width:64px;
  height:114px;
  visibility:hidden;
}
#u12977_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:114px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12978 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:114px;
}
#u12979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u12979 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u12979_img.mouseOver {
}
#u12979.mouseOver {
}
#u12979_img.selected {
}
#u12979.selected {
}
#u12979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u12980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u12980 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:64px;
  height:57px;
}
#u12980_img.mouseOver {
}
#u12980.mouseOver {
}
#u12980_img.selected {
}
#u12980.selected {
}
#u12980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u12981 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:224px;
  width:64px;
  height:168px;
  visibility:hidden;
}
#u12981_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:168px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12982 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:168px;
}
#u12983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u12983 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u12983_img.mouseOver {
}
#u12983.mouseOver {
}
#u12983_img.selected {
}
#u12983.selected {
}
#u12983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u12984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u12984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:64px;
  height:56px;
}
#u12984_img.mouseOver {
}
#u12984.mouseOver {
}
#u12984_img.selected {
}
#u12984.selected {
}
#u12984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u12985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u12985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:64px;
  height:56px;
}
#u12985_img.mouseOver {
}
#u12985.mouseOver {
}
#u12985_img.selected {
}
#u12985.selected {
}
#u12985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u12986 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:168px;
  width:81px;
  height:497px;
  visibility:hidden;
}
#u12986_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:497px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12987 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:71px;
  height:487px;
}
#u12988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:48px;
}
#u12988 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:48px;
}
#u12988_img.mouseOver {
}
#u12988.mouseOver {
}
#u12988_img.selected {
}
#u12988.selected {
}
#u12988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:67px;
  word-wrap:break-word;
}
#u12989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:47px;
}
#u12989 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:71px;
  height:47px;
}
#u12989_img.mouseOver {
}
#u12989.mouseOver {
}
#u12989_img.selected {
}
#u12989.selected {
}
#u12989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:67px;
  word-wrap:break-word;
}
#u12990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:56px;
}
#u12990 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:71px;
  height:56px;
}
#u12990_img.mouseOver {
}
#u12990.mouseOver {
}
#u12990_img.selected {
}
#u12990.selected {
}
#u12990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:67px;
  word-wrap:break-word;
}
#u12991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:56px;
}
#u12991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:151px;
  width:71px;
  height:56px;
}
#u12991_img.mouseOver {
}
#u12991.mouseOver {
}
#u12991_img.selected {
}
#u12991.selected {
}
#u12991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:67px;
  word-wrap:break-word;
}
#u12992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:56px;
}
#u12992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:207px;
  width:71px;
  height:56px;
}
#u12992_img.mouseOver {
}
#u12992.mouseOver {
}
#u12992_img.selected {
}
#u12992.selected {
}
#u12992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:67px;
  word-wrap:break-word;
}
#u12993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:56px;
}
#u12993 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:263px;
  width:71px;
  height:56px;
}
#u12993_img.mouseOver {
}
#u12993.mouseOver {
}
#u12993_img.selected {
}
#u12993.selected {
}
#u12993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u12994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:56px;
}
#u12994 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:319px;
  width:71px;
  height:56px;
}
#u12994_img.mouseOver {
}
#u12994.mouseOver {
}
#u12994_img.selected {
}
#u12994.selected {
}
#u12994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u12995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:56px;
}
#u12995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:375px;
  width:71px;
  height:56px;
}
#u12995_img.mouseOver {
}
#u12995.mouseOver {
}
#u12995_img.selected {
}
#u12995.selected {
}
#u12995_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u12996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:56px;
}
#u12996 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:431px;
  width:71px;
  height:56px;
}
#u12996_img.mouseOver {
}
#u12996.mouseOver {
}
#u12996_img.selected {
}
#u12996.selected {
}
#u12996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u12997 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:337px;
  width:64px;
  height:171px;
  visibility:hidden;
}
#u12997_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:171px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12998 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:171px;
}
#u12999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u12999 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u12999_img.mouseOver {
}
#u12999.mouseOver {
}
#u12999_img.selected {
}
#u12999.selected {
}
#u12999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u13000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u13000 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:64px;
  height:57px;
}
#u13000_img.mouseOver {
}
#u13000.mouseOver {
}
#u13000_img.selected {
}
#u13000.selected {
}
#u13000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u13001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u13001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:64px;
  height:57px;
}
#u13001_img.mouseOver {
}
#u13001.mouseOver {
}
#u13001_img.selected {
}
#u13001.selected {
}
#u13001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u13002 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:394px;
  width:64px;
  height:399px;
  visibility:hidden;
}
#u13002_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:399px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:399px;
}
#u13004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u13004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u13004_img.mouseOver {
}
#u13004.mouseOver {
}
#u13004_img.selected {
}
#u13004.selected {
}
#u13004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u13005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u13005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:64px;
  height:57px;
}
#u13005_img.mouseOver {
}
#u13005.mouseOver {
}
#u13005_img.selected {
}
#u13005.selected {
}
#u13005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u13006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u13006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:64px;
  height:57px;
}
#u13006_img.mouseOver {
}
#u13006.mouseOver {
}
#u13006_img.selected {
}
#u13006.selected {
}
#u13006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u13007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u13007 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:64px;
  height:57px;
}
#u13007_img.mouseOver {
}
#u13007.mouseOver {
}
#u13007_img.selected {
}
#u13007.selected {
}
#u13007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u13008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u13008 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:228px;
  width:64px;
  height:57px;
}
#u13008_img.mouseOver {
}
#u13008.mouseOver {
}
#u13008_img.selected {
}
#u13008.selected {
}
#u13008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u13009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u13009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:285px;
  width:64px;
  height:57px;
}
#u13009_img.mouseOver {
}
#u13009.mouseOver {
}
#u13009_img.selected {
}
#u13009.selected {
}
#u13009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u13010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u13010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:342px;
  width:64px;
  height:57px;
}
#u13010_img.mouseOver {
}
#u13010.mouseOver {
}
#u13010_img.selected {
}
#u13010.selected {
}
#u13010_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u13011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:63px;
}
#u13011 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:72px;
  width:73px;
  height:63px;
}
#u13011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:69px;
  word-wrap:break-word;
}
#u13011_ann {
  border-width:0px;
  position:absolute;
  left:76px;
  top:68px;
  width:1px;
  height:1px;
}
#u13012_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13012 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:217px;
  width:1px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13013_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13013 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:430px;
  width:1px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u13014_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13014 {
  border-width:0px;
  position:absolute;
  left:1375px;
  top:72px;
  width:74px;
  height:33px;
}
#u13014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u13015_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13015 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:21px;
  width:254px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13015_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
#u13016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:547px;
}
#u13016 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:319px;
  width:1350px;
  height:547px;
}
#u13016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:214px;
}
#u13018 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:113px;
  width:320px;
  height:214px;
}
#u13018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
}
#u13019 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:119px;
  width:26px;
  height:28px;
}
#u13019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u13020 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:125px;
  width:71px;
  height:20px;
  color:#199ED8;
}
#u13020_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u13021 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:157px;
  width:300px;
  height:1px;
}
#u13021_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:141px;
}
#u13022 {
  border-width:0px;
  position:absolute;
  left:539px;
  top:178px;
  width:284px;
  height:141px;
}
#u13022_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13023 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u13024 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:949px;
  width:38px;
  height:17px;
  font-size:12px;
}
#u13024_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u13025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13025 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:948px;
  width:20px;
  height:20px;
}
#u13025_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13026 {
  border-width:0px;
  position:absolute;
  left:1282px;
  top:948px;
  width:20px;
  height:20px;
}
#u13026_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13027 {
  border-width:0px;
  position:absolute;
  left:1131px;
  top:948px;
  width:20px;
  height:20px;
}
#u13027_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u13028_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13028 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:948px;
  width:20px;
  height:20px;
}
#u13028_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u13029_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13029 {
  border-width:0px;
  position:absolute;
  left:1191px;
  top:948px;
  width:20px;
  height:20px;
}
#u13029_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u13030_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13030 {
  border-width:0px;
  position:absolute;
  left:1221px;
  top:948px;
  width:20px;
  height:20px;
}
#u13030_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u13031_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13031 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:948px;
  width:20px;
  height:20px;
}
#u13031_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
#u13032 {
  border-width:0px;
  position:absolute;
  left:1315px;
  top:948px;
  width:92px;
  height:20px;
}
#u13032_input {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u13032_input:disabled {
  color:grayText;
}
#u13033_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13033 {
  border-width:0px;
  position:absolute;
  left:1173px;
  top:279px;
  width:94px;
  height:40px;
}
#u13033_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u13034_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13034 {
  border-width:0px;
  position:absolute;
  left:1267px;
  top:279px;
  width:87px;
  height:40px;
}
#u13034_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u13034_ann {
  border-width:0px;
  position:absolute;
  left:1347px;
  top:275px;
  width:1px;
  height:1px;
}
#u13035_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13035 {
  border-width:0px;
  position:absolute;
  left:1354px;
  top:279px;
  width:84px;
  height:40px;
}
#u13035_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:80px;
  word-wrap:break-word;
}
#u13036_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u13036 {
  border-width:0px;
  position:absolute;
  left:93px;
  top:279px;
  width:168px;
  height:40px;
  font-size:20px;
  text-align:left;
}
#u13036_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:164px;
  word-wrap:break-word;
}
#u13037_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u13037 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:209px;
  width:73px;
  height:121px;
  text-align:left;
}
#u13037_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:69px;
  word-wrap:break-word;
}
#u13038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:31px;
}
#u13038 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:284px;
  width:43px;
  height:31px;
}
#u13038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13039 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13040_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:271px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13040 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:316px;
  width:377px;
  height:271px;
}
#u13040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13041 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:516px;
  width:139px;
  height:16px;
  font-size:14px;
}
#u13041_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u13041_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13041_ann {
  border-width:0px;
  position:absolute;
  left:243px;
  top:512px;
  width:1px;
  height:1px;
}
#u13042 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:437px;
  width:255px;
  height:32px;
}
#u13042_input {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13042_input:disabled {
  color:grayText;
}
#u13042_ann {
  border-width:0px;
  position:absolute;
  left:440px;
  top:433px;
  width:1px;
  height:1px;
}
#u13043_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13043 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:444px;
  width:71px;
  height:20px;
}
#u13043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13044_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13044 {
  border-width:0px;
  position:absolute;
  left:114px;
  top:395px;
  width:71px;
  height:20px;
}
#u13044_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u13045 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:437px;
  width:43px;
  height:30px;
}
#u13045_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13046 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:395px;
  width:255px;
  height:32px;
}
#u13046_input {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u13046_input:disabled {
  color:grayText;
}
#u13046_ann {
  border-width:0px;
  position:absolute;
  left:443px;
  top:391px;
  width:1px;
  height:1px;
}
#u13047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:30px;
}
#u13047 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:397px;
  width:43px;
  height:30px;
}
#u13047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:43px;
}
#u13048 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:334px;
  width:339px;
  height:43px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u13048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:41px;
}
#u13049 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:469px;
  width:292px;
  height:41px;
  font-size:14px;
}
#u13049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13049_ann {
  border-width:0px;
  position:absolute;
  left:390px;
  top:465px;
  width:1px;
  height:1px;
}
#u13050_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13050 {
  border-width:0px;
  position:absolute;
  left:267px;
  top:555px;
  width:66px;
  height:32px;
}
#u13050_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u13051_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13051 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:555px;
  width:66px;
  height:32px;
}
#u13051_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u13052_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13052 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:555px;
  width:66px;
  height:32px;
}
#u13052_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:62px;
  word-wrap:break-word;
}
#u13053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:523px;
}
#u13053 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:316px;
  width:477px;
  height:523px;
}
#u13053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13054 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:491px;
  height:324px;
}
#u13055 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:431px;
  width:491px;
  height:324px;
}
#u13055_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13056_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13056 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:706px;
  width:101px;
  height:39px;
}
#u13056_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u13057_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13057 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:706px;
  width:101px;
  height:39px;
}
#u13057_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u13058_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:252px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13058 {
  border-width:0px;
  position:absolute;
  left:874px;
  top:504px;
  width:252px;
  height:59px;
}
#u13058_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13059 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:523px;
  width:92px;
  height:22px;
  font-size:18px;
}
#u13059_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u13059_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13060 {
  border-width:0px;
  position:absolute;
  left:999px;
  top:523px;
  width:92px;
  height:22px;
  font-size:18px;
}
#u13060_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u13060_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13061_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:77px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13061 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:555px;
  width:324px;
  height:77px;
}
#u13061_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13062 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:582px;
  width:92px;
  height:22px;
  font-size:18px;
}
#u13062_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u13062_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13063 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:583px;
  width:92px;
  height:22px;
  font-size:18px;
}
#u13063_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u13063_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13064 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:565px;
  width:294px;
  height:57px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13064_ann {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:561px;
  width:1px;
  height:1px;
}
#u13065 {
  border-width:0px;
  position:absolute;
  left:1161px;
  top:431px;
  width:65px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
