body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1467px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16621_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16621 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:65px;
  width:1440px;
  height:900px;
}
#u16621_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16622_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:900px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16622 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:65px;
  width:73px;
  height:900px;
  color:#FFFFFF;
}
#u16622_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:440px;
  width:69px;
  word-wrap:break-word;
}
#u16623_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16623 {
  border-width:0px;
  position:absolute;
  left:1315px;
  top:65px;
  width:77px;
  height:33px;
}
#u16623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  word-wrap:break-word;
}
#u16624_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u16624 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:75px;
  width:65px;
  height:30px;
  color:#FF0000;
}
#u16624_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:61px;
  word-wrap:break-word;
}
#u16625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:46px;
}
#u16625 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:75px;
  width:353px;
  height:46px;
}
#u16625_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16626_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16626 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:165px;
  width:80px;
  height:30px;
}
#u16626_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u16627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1372px;
  height:2px;
}
#u16627 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:193px;
  width:1371px;
  height:1px;
}
#u16627_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16628_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u16628 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:165px;
  width:92px;
  height:30px;
  color:#FFFFFF;
}
#u16628_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:88px;
  word-wrap:break-word;
}
#u16629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:18px;
}
#u16629 {
  border-width:0px;
  position:absolute;
  left:247px;
  top:171px;
  width:31px;
  height:18px;
}
#u16629_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16630 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16631_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#1E1E1E;
}
#u16631 {
  border-width:0px;
  position:absolute;
  left:279px;
  top:166px;
  width:34px;
  height:30px;
  color:#1E1E1E;
}
#u16631_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:13px;
}
#u16632 {
  border-width:0px;
  position:absolute;
  left:290px;
  top:174px;
  width:15px;
  height:13px;
  color:#1E1E1E;
}
#u16632_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16633 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:154px;
  width:63px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16634 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:128px;
  width:64px;
  height:451px;
}
#u16634_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:451px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16635 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:451px;
}
#u16636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u16636 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u16636_img.mouseOver {
}
#u16636.mouseOver {
}
#u16636_img.selected {
}
#u16636.selected {
}
#u16636_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u16637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u16637 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:64px;
  height:56px;
}
#u16637_img.mouseOver {
}
#u16637.mouseOver {
}
#u16637_img.selected {
}
#u16637.selected {
}
#u16637_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u16638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u16638 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:64px;
  height:56px;
}
#u16638_img.mouseOver {
}
#u16638.mouseOver {
}
#u16638_img.selected {
}
#u16638.selected {
}
#u16638_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u16639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u16639 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:64px;
  height:56px;
}
#u16639_img.mouseOver {
}
#u16639.mouseOver {
}
#u16639_img.selected {
}
#u16639.selected {
}
#u16639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u16640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u16640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:224px;
  width:64px;
  height:56px;
}
#u16640_img.mouseOver {
}
#u16640.mouseOver {
}
#u16640_img.selected {
}
#u16640.selected {
}
#u16640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u16641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u16641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:280px;
  width:64px;
  height:57px;
}
#u16641_img.mouseOver {
}
#u16641.mouseOver {
}
#u16641_img.selected {
}
#u16641.selected {
}
#u16641_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u16642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u16642 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:337px;
  width:64px;
  height:57px;
}
#u16642_img.mouseOver {
}
#u16642.mouseOver {
}
#u16642_img.selected {
}
#u16642.selected {
}
#u16642_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u16643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u16643 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:394px;
  width:64px;
  height:57px;
}
#u16643_img.mouseOver {
}
#u16643.mouseOver {
}
#u16643_img.selected {
}
#u16643.selected {
}
#u16643_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u16644 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:280px;
  width:64px;
  height:114px;
  visibility:hidden;
}
#u16644_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:114px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16645 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:114px;
}
#u16646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u16646 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u16646_img.mouseOver {
}
#u16646.mouseOver {
}
#u16646_img.selected {
}
#u16646.selected {
}
#u16646_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u16647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u16647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:64px;
  height:57px;
}
#u16647_img.mouseOver {
}
#u16647.mouseOver {
}
#u16647_img.selected {
}
#u16647.selected {
}
#u16647_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u16648 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:224px;
  width:64px;
  height:168px;
  visibility:hidden;
}
#u16648_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:168px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:168px;
}
#u16650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u16650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u16650_img.mouseOver {
}
#u16650.mouseOver {
}
#u16650_img.selected {
}
#u16650.selected {
}
#u16650_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u16651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u16651 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:56px;
  width:64px;
  height:56px;
}
#u16651_img.mouseOver {
}
#u16651.mouseOver {
}
#u16651_img.selected {
}
#u16651.selected {
}
#u16651_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u16652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:56px;
}
#u16652 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:112px;
  width:64px;
  height:56px;
}
#u16652_img.mouseOver {
}
#u16652.mouseOver {
}
#u16652_img.selected {
}
#u16652.selected {
}
#u16652_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u16653 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:168px;
  width:81px;
  height:497px;
  visibility:hidden;
}
#u16653_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:497px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16654 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:5px;
  width:71px;
  height:487px;
}
#u16655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:48px;
}
#u16655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:48px;
}
#u16655_img.mouseOver {
}
#u16655.mouseOver {
}
#u16655_img.selected {
}
#u16655.selected {
}
#u16655_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:67px;
  word-wrap:break-word;
}
#u16656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:47px;
}
#u16656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:71px;
  height:47px;
}
#u16656_img.mouseOver {
}
#u16656.mouseOver {
}
#u16656_img.selected {
}
#u16656.selected {
}
#u16656_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:67px;
  word-wrap:break-word;
}
#u16657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:56px;
}
#u16657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:71px;
  height:56px;
}
#u16657_img.mouseOver {
}
#u16657.mouseOver {
}
#u16657_img.selected {
}
#u16657.selected {
}
#u16657_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:67px;
  word-wrap:break-word;
}
#u16658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:56px;
}
#u16658 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:151px;
  width:71px;
  height:56px;
}
#u16658_img.mouseOver {
}
#u16658.mouseOver {
}
#u16658_img.selected {
}
#u16658.selected {
}
#u16658_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:67px;
  word-wrap:break-word;
}
#u16659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:56px;
}
#u16659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:207px;
  width:71px;
  height:56px;
}
#u16659_img.mouseOver {
}
#u16659.mouseOver {
}
#u16659_img.selected {
}
#u16659.selected {
}
#u16659_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:67px;
  word-wrap:break-word;
}
#u16660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:56px;
}
#u16660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:263px;
  width:71px;
  height:56px;
}
#u16660_img.mouseOver {
}
#u16660.mouseOver {
}
#u16660_img.selected {
}
#u16660.selected {
}
#u16660_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u16661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:56px;
}
#u16661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:319px;
  width:71px;
  height:56px;
}
#u16661_img.mouseOver {
}
#u16661.mouseOver {
}
#u16661_img.selected {
}
#u16661.selected {
}
#u16661_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u16662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:56px;
}
#u16662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:375px;
  width:71px;
  height:56px;
}
#u16662_img.mouseOver {
}
#u16662.mouseOver {
}
#u16662_img.selected {
}
#u16662.selected {
}
#u16662_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u16663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:56px;
}
#u16663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:431px;
  width:71px;
  height:56px;
}
#u16663_img.mouseOver {
}
#u16663.mouseOver {
}
#u16663_img.selected {
}
#u16663.selected {
}
#u16663_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u16664 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:337px;
  width:64px;
  height:171px;
  visibility:hidden;
}
#u16664_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:171px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:171px;
}
#u16666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u16666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u16666_img.mouseOver {
}
#u16666.mouseOver {
}
#u16666_img.selected {
}
#u16666.selected {
}
#u16666_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u16667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u16667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:64px;
  height:57px;
}
#u16667_img.mouseOver {
}
#u16667.mouseOver {
}
#u16667_img.selected {
}
#u16667.selected {
}
#u16667_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u16668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u16668 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:64px;
  height:57px;
}
#u16668_img.mouseOver {
}
#u16668.mouseOver {
}
#u16668_img.selected {
}
#u16668.selected {
}
#u16668_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u16669 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:394px;
  width:64px;
  height:399px;
  visibility:hidden;
}
#u16669_menu {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:399px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u16670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:399px;
}
#u16671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u16671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u16671_img.mouseOver {
}
#u16671.mouseOver {
}
#u16671_img.selected {
}
#u16671.selected {
}
#u16671_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u16672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u16672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:57px;
  width:64px;
  height:57px;
}
#u16672_img.mouseOver {
}
#u16672.mouseOver {
}
#u16672_img.selected {
}
#u16672.selected {
}
#u16672_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u16673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u16673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:64px;
  height:57px;
}
#u16673_img.mouseOver {
}
#u16673.mouseOver {
}
#u16673_img.selected {
}
#u16673.selected {
}
#u16673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u16674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u16674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:171px;
  width:64px;
  height:57px;
}
#u16674_img.mouseOver {
}
#u16674.mouseOver {
}
#u16674_img.selected {
}
#u16674.selected {
}
#u16674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u16675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u16675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:228px;
  width:64px;
  height:57px;
}
#u16675_img.mouseOver {
}
#u16675.mouseOver {
}
#u16675_img.selected {
}
#u16675.selected {
}
#u16675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u16676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u16676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:285px;
  width:64px;
  height:57px;
}
#u16676_img.mouseOver {
}
#u16676.mouseOver {
}
#u16676_img.selected {
}
#u16676.selected {
}
#u16676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:60px;
  word-wrap:break-word;
}
#u16677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:57px;
}
#u16677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:342px;
  width:64px;
  height:57px;
}
#u16677_img.mouseOver {
}
#u16677.mouseOver {
}
#u16677_img.selected {
}
#u16677.selected {
}
#u16677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:60px;
  word-wrap:break-word;
}
#u16678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:63px;
}
#u16678 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:65px;
  width:73px;
  height:63px;
}
#u16678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:69px;
  word-wrap:break-word;
}
#u16678_ann {
  border-width:0px;
  position:absolute;
  left:93px;
  top:61px;
  width:1px;
  height:1px;
}
#u16679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16679 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:210px;
  width:1px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u16680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16680 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:423px;
  width:1px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u16680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u16681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:214px;
}
#u16682 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:106px;
  width:320px;
  height:214px;
}
#u16682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:28px;
}
#u16683 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:112px;
  width:26px;
  height:28px;
}
#u16683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#199ED8;
}
#u16684 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:118px;
  width:71px;
  height:20px;
  color:#199ED8;
}
#u16684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u16685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u16685 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:150px;
  width:300px;
  height:1px;
}
#u16685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:141px;
}
#u16686 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:171px;
  width:284px;
  height:141px;
}
#u16686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16687 {
  border-width:0px;
  position:absolute;
  left:1392px;
  top:65px;
  width:74px;
  height:33px;
}
#u16687_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:70px;
  word-wrap:break-word;
}
#u16688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u16688 {
  border-width:0px;
  position:absolute;
  left:278px;
  top:202px;
  width:73px;
  height:121px;
  text-align:left;
}
#u16688_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:69px;
  word-wrap:break-word;
}
#u16689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u16689 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:622px;
  width:209px;
  height:111px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u16689_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:205px;
  word-wrap:break-word;
}
#u16690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u16690 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:621px;
  width:208px;
  height:112px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u16690_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:204px;
  word-wrap:break-word;
}
#u16691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u16691 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:622px;
  width:209px;
  height:112px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u16691_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:205px;
  word-wrap:break-word;
}
#u16692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u16692 {
  border-width:0px;
  position:absolute;
  left:669px;
  top:409px;
  width:206px;
  height:101px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u16692_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:202px;
  word-wrap:break-word;
}
#u16693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u16693 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:409px;
  width:208px;
  height:101px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#CCCCCC;
}
#u16693_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:204px;
  word-wrap:break-word;
}
#u16694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u16694 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:409px;
  width:208px;
  height:101px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u16694_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:204px;
  word-wrap:break-word;
}
#u16695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#00FF00;
}
#u16695 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:417px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#00FF00;
}
#u16695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u16696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
}
#u16696 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:411px;
  width:47px;
  height:28px;
  color:#00FF00;
}
#u16696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16697 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:417px;
  width:1px;
  height:20px;
}
#u16697_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u16698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#00FF00;
}
#u16698 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:417px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#00FF00;
}
#u16698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u16699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
}
#u16699 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:414px;
  width:47px;
  height:28px;
  color:#00FF00;
}
#u16699_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#00FF00;
}
#u16700 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:420px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#00FF00;
}
#u16700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u16701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
}
#u16701 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:630px;
  width:47px;
  height:28px;
  color:#00FF00;
}
#u16701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#00FF00;
}
#u16702 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:636px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#00FF00;
}
#u16702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u16703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
}
#u16703 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:630px;
  width:47px;
  height:28px;
  color:#00FF00;
}
#u16703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16704_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#00FF00;
}
#u16704 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:636px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#00FF00;
}
#u16704_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u16705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:28px;
}
#u16705 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:630px;
  width:47px;
  height:28px;
  color:#00FF00;
}
#u16705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#00FF00;
}
#u16706 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:636px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#00FF00;
}
#u16706_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u16707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16707 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:232px;
  width:75px;
  height:28px;
}
#u16707_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16707.mouseOver {
}
#u16707_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16707.selected {
}
#u16707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:71px;
  word-wrap:break-word;
}
#u16708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16708 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:232px;
  width:70px;
  height:28px;
}
#u16708_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16708.mouseOver {
}
#u16708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:66px;
  word-wrap:break-word;
}
#u16709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u16709 {
  border-width:0px;
  position:absolute;
  left:423px;
  top:87px;
  width:36px;
  height:41px;
  font-size:18px;
}
#u16709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  word-wrap:break-word;
}
