body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1401px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:101px;
  width:1184px;
  height:1828px;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
  color:#FFFFFF;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:264px;
  word-wrap:break-word;
}
#u30_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:30px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:0px;
  width:268px;
  height:30px;
  color:#FFFFFF;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:264px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:30px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:0px;
  width:135px;
  height:30px;
  color:#FFFFFF;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:131px;
  word-wrap:break-word;
}
#u32_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:0px;
  width:116px;
  height:30px;
  color:#FFFFFF;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:30px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:0px;
  width:397px;
  height:30px;
  color:#FFFFFF;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:393px;
  word-wrap:break-word;
}
#u34_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:114px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:268px;
  height:114px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:264px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:114px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:30px;
  width:268px;
  height:114px;
  text-align:left;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:264px;
  word-wrap:break-word;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:114px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:30px;
  width:135px;
  height:114px;
}
#u36_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:131px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:114px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:30px;
  width:116px;
  height:114px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:112px;
  word-wrap:break-word;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:114px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:30px;
  width:397px;
  height:114px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:49px;
  width:393px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:68px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:144px;
  width:268px;
  height:68px;
}
#u39_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:264px;
  word-wrap:break-word;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:68px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:144px;
  width:268px;
  height:68px;
  text-align:left;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:264px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:68px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:144px;
  width:135px;
  height:68px;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:131px;
  word-wrap:break-word;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:68px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:144px;
  width:116px;
  height:68px;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:112px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:68px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:144px;
  width:397px;
  height:68px;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:212px;
  width:268px;
  height:84px;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:264px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:212px;
  width:268px;
  height:84px;
  text-align:left;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:264px;
  word-wrap:break-word;
}
#u46_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:84px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:212px;
  width:135px;
  height:84px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:131px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:84px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:212px;
  width:116px;
  height:84px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:112px;
  word-wrap:break-word;
}
#u48_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:84px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:212px;
  width:397px;
  height:84px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:393px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:276px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:296px;
  width:268px;
  height:276px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:264px;
  word-wrap:break-word;
}
#u50_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:276px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:296px;
  width:268px;
  height:276px;
  text-align:left;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:264px;
  word-wrap:break-word;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:276px;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:296px;
  width:135px;
  height:276px;
}
#u51_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:131px;
  word-wrap:break-word;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:276px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:296px;
  width:116px;
  height:276px;
}
#u52_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:112px;
  word-wrap:break-word;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:276px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:296px;
  width:397px;
  height:276px;
}
#u53_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:393px;
  word-wrap:break-word;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:572px;
  width:268px;
  height:84px;
}
#u54_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:264px;
  word-wrap:break-word;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:572px;
  width:268px;
  height:84px;
  text-align:left;
}
#u55_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:264px;
  word-wrap:break-word;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:84px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:572px;
  width:135px;
  height:84px;
}
#u56_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:131px;
  word-wrap:break-word;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:84px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:572px;
  width:116px;
  height:84px;
}
#u57_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:112px;
  word-wrap:break-word;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:84px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:572px;
  width:397px;
  height:84px;
  color:#FF0000;
}
#u58_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:393px;
  word-wrap:break-word;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:132px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:656px;
  width:268px;
  height:132px;
}
#u59_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:264px;
  word-wrap:break-word;
}
#u60_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:132px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:656px;
  width:268px;
  height:132px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:264px;
  word-wrap:break-word;
}
#u61_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:132px;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:656px;
  width:135px;
  height:132px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:131px;
  word-wrap:break-word;
}
#u62_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:132px;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:656px;
  width:116px;
  height:132px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:112px;
  word-wrap:break-word;
}
#u63_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:132px;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:656px;
  width:397px;
  height:132px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:393px;
  word-wrap:break-word;
}
#u64_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:788px;
  width:268px;
  height:84px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:264px;
  word-wrap:break-word;
}
#u65_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:788px;
  width:268px;
  height:84px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:264px;
  word-wrap:break-word;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:84px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:788px;
  width:135px;
  height:84px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:131px;
  word-wrap:break-word;
}
#u67_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:84px;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:788px;
  width:116px;
  height:84px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:112px;
  word-wrap:break-word;
}
#u68_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:84px;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:788px;
  width:397px;
  height:84px;
}
#u68_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:393px;
  word-wrap:break-word;
}
#u69_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:872px;
  width:268px;
  height:84px;
}
#u69_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:264px;
  word-wrap:break-word;
}
#u70_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:872px;
  width:268px;
  height:84px;
}
#u70_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:264px;
  word-wrap:break-word;
}
#u71_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:84px;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:872px;
  width:135px;
  height:84px;
}
#u71_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:131px;
  word-wrap:break-word;
}
#u72_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:84px;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:872px;
  width:116px;
  height:84px;
}
#u72_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:112px;
  word-wrap:break-word;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:84px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:872px;
  width:397px;
  height:84px;
}
#u73_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:393px;
  word-wrap:break-word;
}
#u74_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:956px;
  width:268px;
  height:84px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:264px;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:956px;
  width:268px;
  height:84px;
}
#u75_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:264px;
  word-wrap:break-word;
}
#u76_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:84px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:956px;
  width:135px;
  height:84px;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:131px;
  word-wrap:break-word;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:84px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:956px;
  width:116px;
  height:84px;
}
#u77_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:112px;
  word-wrap:break-word;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:84px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:956px;
  width:397px;
  height:84px;
}
#u78_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:393px;
  word-wrap:break-word;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1040px;
  width:268px;
  height:84px;
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:264px;
  word-wrap:break-word;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1040px;
  width:268px;
  height:84px;
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:264px;
  word-wrap:break-word;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:84px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:1040px;
  width:135px;
  height:84px;
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:131px;
  word-wrap:break-word;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:84px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:1040px;
  width:116px;
  height:84px;
}
#u82_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:112px;
  word-wrap:break-word;
}
#u83_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:84px;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1040px;
  width:397px;
  height:84px;
}
#u83_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:393px;
  word-wrap:break-word;
}
#u84_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1124px;
  width:268px;
  height:84px;
}
#u84_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:264px;
  word-wrap:break-word;
}
#u85_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1124px;
  width:268px;
  height:84px;
}
#u85_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:264px;
  word-wrap:break-word;
}
#u86_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:84px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:1124px;
  width:135px;
  height:84px;
}
#u86_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:131px;
  word-wrap:break-word;
}
#u87_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:84px;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:1124px;
  width:116px;
  height:84px;
}
#u87_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:112px;
  word-wrap:break-word;
}
#u88_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:84px;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1124px;
  width:397px;
  height:84px;
}
#u88_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:393px;
  word-wrap:break-word;
}
#u89_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:116px;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1208px;
  width:268px;
  height:116px;
}
#u89_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:264px;
  word-wrap:break-word;
}
#u90_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:116px;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1208px;
  width:268px;
  height:116px;
}
#u90_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:264px;
  word-wrap:break-word;
}
#u91_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:116px;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:1208px;
  width:135px;
  height:116px;
}
#u91_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:131px;
  word-wrap:break-word;
}
#u92_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:116px;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:1208px;
  width:116px;
  height:116px;
}
#u92_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:112px;
  word-wrap:break-word;
}
#u93_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:116px;
}
#u93 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1208px;
  width:397px;
  height:116px;
  text-align:left;
}
#u93_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u94 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1324px;
  width:268px;
  height:84px;
}
#u94_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:264px;
  word-wrap:break-word;
}
#u95_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u95 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1324px;
  width:268px;
  height:84px;
}
#u95_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:264px;
  word-wrap:break-word;
}
#u96_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:84px;
}
#u96 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:1324px;
  width:135px;
  height:84px;
}
#u96_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:131px;
  word-wrap:break-word;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:84px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:1324px;
  width:116px;
  height:84px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:112px;
  word-wrap:break-word;
}
#u98_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:84px;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1324px;
  width:397px;
  height:84px;
  text-align:left;
}
#u98_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:393px;
  word-wrap:break-word;
}
#u99_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1408px;
  width:268px;
  height:84px;
}
#u99_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:264px;
  word-wrap:break-word;
}
#u100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1408px;
  width:268px;
  height:84px;
}
#u100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:264px;
  word-wrap:break-word;
}
#u101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:84px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:1408px;
  width:135px;
  height:84px;
}
#u101_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:131px;
  word-wrap:break-word;
}
#u102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:84px;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:1408px;
  width:116px;
  height:84px;
}
#u102_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:112px;
  word-wrap:break-word;
}
#u103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:84px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1408px;
  width:397px;
  height:84px;
  text-align:left;
}
#u103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:393px;
  word-wrap:break-word;
}
#u104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1492px;
  width:268px;
  height:84px;
}
#u104_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:264px;
  word-wrap:break-word;
}
#u105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1492px;
  width:268px;
  height:84px;
  color:#FF0000;
}
#u105_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:264px;
  word-wrap:break-word;
}
#u106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:84px;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:1492px;
  width:135px;
  height:84px;
}
#u106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:131px;
  word-wrap:break-word;
}
#u107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:84px;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:1492px;
  width:116px;
  height:84px;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:112px;
  word-wrap:break-word;
}
#u108_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:84px;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1492px;
  width:397px;
  height:84px;
  color:#FF0000;
  text-align:left;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:393px;
  word-wrap:break-word;
}
#u109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1576px;
  width:268px;
  height:84px;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:264px;
  word-wrap:break-word;
}
#u110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1576px;
  width:268px;
  height:84px;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:264px;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:84px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:1576px;
  width:135px;
  height:84px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:131px;
  word-wrap:break-word;
}
#u112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:84px;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:1576px;
  width:116px;
  height:84px;
}
#u112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:112px;
  word-wrap:break-word;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:84px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1576px;
  width:397px;
  height:84px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:393px;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1660px;
  width:268px;
  height:84px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:264px;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1660px;
  width:268px;
  height:84px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:264px;
  word-wrap:break-word;
}
#u116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:84px;
}
#u116 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:1660px;
  width:135px;
  height:84px;
}
#u116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:84px;
}
#u117 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:1660px;
  width:116px;
  height:84px;
}
#u117_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:84px;
}
#u118 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1660px;
  width:397px;
  height:84px;
}
#u118_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1744px;
  width:268px;
  height:84px;
}
#u119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:264px;
  word-wrap:break-word;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:84px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:268px;
  top:1744px;
  width:268px;
  height:84px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:264px;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:84px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:536px;
  top:1744px;
  width:135px;
  height:84px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:84px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:1744px;
  width:116px;
  height:84px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:84px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:1744px;
  width:397px;
  height:84px;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u124_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:38px;
  width:384px;
  height:53px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:110px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:1309px;
  width:311px;
  height:110px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
