body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1237px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:41px;
  width:1122px;
  height:449px;
}
#u265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:36px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:36px;
  color:#FFFFFF;
}
#u265_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:36px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:0px;
  width:350px;
  height:36px;
  color:#FFFFFF;
}
#u266_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:346px;
  word-wrap:break-word;
}
#u267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:0px;
  width:111px;
  height:36px;
  color:#FFFFFF;
}
#u267_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:0px;
  width:100px;
  height:36px;
  color:#FFFFFF;
}
#u268_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:36px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:0px;
  width:330px;
  height:36px;
  color:#FFFFFF;
}
#u269_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:326px;
  word-wrap:break-word;
}
#u270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:277px;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:231px;
  height:277px;
}
#u270_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:227px;
  word-wrap:break-word;
}
#u271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:277px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:36px;
  width:350px;
  height:277px;
  text-align:left;
}
#u271_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:346px;
  word-wrap:break-word;
}
#u272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:277px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:36px;
  width:111px;
  height:277px;
}
#u272_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:107px;
  word-wrap:break-word;
}
#u273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:277px;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:36px;
  width:100px;
  height:277px;
}
#u273_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:130px;
  width:96px;
  word-wrap:break-word;
}
#u274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:277px;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:36px;
  width:330px;
  height:277px;
  color:#FF0000;
}
#u274_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:122px;
  width:326px;
  word-wrap:break-word;
}
#u275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:136px;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:313px;
  width:231px;
  height:136px;
}
#u275_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:60px;
  width:227px;
  word-wrap:break-word;
}
#u276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:136px;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:313px;
  width:350px;
  height:136px;
  text-align:left;
}
#u276_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:28px;
  width:346px;
  word-wrap:break-word;
}
#u277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:136px;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:313px;
  width:111px;
  height:136px;
}
#u277_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:60px;
  width:107px;
  word-wrap:break-word;
}
#u278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:136px;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:313px;
  width:100px;
  height:136px;
}
#u278_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:60px;
  width:96px;
  word-wrap:break-word;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:136px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:313px;
  width:330px;
  height:136px;
  color:#000000;
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:60px;
  width:326px;
  word-wrap:break-word;
}
