body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1255px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:41px;
  width:1140px;
  height:1736px;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:36px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:36px;
  color:#FFFFFF;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:36px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:0px;
  width:350px;
  height:36px;
  color:#FFFFFF;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:346px;
  word-wrap:break-word;
}
#u129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:0px;
  width:111px;
  height:36px;
  color:#FFFFFF;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:0px;
  width:126px;
  height:36px;
  color:#FFFFFF;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:36px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:0px;
  width:322px;
  height:36px;
  color:#FFFFFF;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:318px;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:100px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:231px;
  height:100px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:227px;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:100px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:36px;
  width:350px;
  height:100px;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:346px;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:100px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:36px;
  width:111px;
  height:100px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:107px;
  word-wrap:break-word;
}
#u135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:100px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:36px;
  width:126px;
  height:100px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:122px;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:100px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:36px;
  width:322px;
  height:100px;
  color:#FF0000;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:318px;
  word-wrap:break-word;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:84px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:231px;
  height:84px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:227px;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:84px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:136px;
  width:350px;
  height:84px;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:84px;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:136px;
  width:111px;
  height:84px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:107px;
  word-wrap:break-word;
}
#u140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:84px;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:136px;
  width:126px;
  height:84px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:122px;
  word-wrap:break-word;
}
#u141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:84px;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:136px;
  width:322px;
  height:84px;
  color:#FF0000;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:318px;
  word-wrap:break-word;
}
#u142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:84px;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:231px;
  height:84px;
}
#u142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:227px;
  word-wrap:break-word;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:84px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:220px;
  width:350px;
  height:84px;
  color:#000000;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:346px;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:84px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:220px;
  width:111px;
  height:84px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:107px;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:84px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:220px;
  width:126px;
  height:84px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:122px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:84px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:220px;
  width:322px;
  height:84px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:318px;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:132px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:304px;
  width:231px;
  height:132px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:227px;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:132px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:304px;
  width:350px;
  height:132px;
  text-align:left;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:346px;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:132px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:304px;
  width:111px;
  height:132px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:107px;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:132px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:304px;
  width:126px;
  height:132px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:132px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:304px;
  width:322px;
  height:132px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:318px;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:84px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:436px;
  width:231px;
  height:84px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:227px;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:84px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:436px;
  width:350px;
  height:84px;
  color:#000000;
  text-align:left;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:346px;
  word-wrap:break-word;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:84px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:436px;
  width:111px;
  height:84px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:107px;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:84px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:436px;
  width:126px;
  height:84px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:84px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:436px;
  width:322px;
  height:84px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:318px;
  word-wrap:break-word;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:148px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:520px;
  width:231px;
  height:148px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:227px;
  word-wrap:break-word;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:148px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:520px;
  width:350px;
  height:148px;
  color:#000000;
  text-align:left;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:148px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:520px;
  width:111px;
  height:148px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:107px;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:148px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:520px;
  width:126px;
  height:148px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:122px;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:148px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:520px;
  width:322px;
  height:148px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:318px;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:84px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:668px;
  width:231px;
  height:84px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:227px;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:84px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:668px;
  width:350px;
  height:84px;
  text-align:left;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:346px;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:84px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:668px;
  width:111px;
  height:84px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:107px;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:84px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:668px;
  width:126px;
  height:84px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:122px;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:84px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:668px;
  width:322px;
  height:84px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:318px;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:84px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:752px;
  width:231px;
  height:84px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:227px;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:84px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:752px;
  width:350px;
  height:84px;
  text-align:left;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:346px;
  word-wrap:break-word;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:84px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:752px;
  width:111px;
  height:84px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:107px;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:84px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:752px;
  width:126px;
  height:84px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:84px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:752px;
  width:322px;
  height:84px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:318px;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:148px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:836px;
  width:231px;
  height:148px;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:227px;
  word-wrap:break-word;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:148px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:836px;
  width:350px;
  height:148px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
  text-align:left;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:346px;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:148px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:836px;
  width:111px;
  height:148px;
  color:#FF0000;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:107px;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:148px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:836px;
  width:126px;
  height:148px;
  color:#FF0000;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:148px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:836px;
  width:322px;
  height:148px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:318px;
  word-wrap:break-word;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:132px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:984px;
  width:231px;
  height:132px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:227px;
  word-wrap:break-word;
}
#u178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:132px;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:984px;
  width:350px;
  height:132px;
  color:#000000;
  text-align:left;
}
#u178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:346px;
  word-wrap:break-word;
}
#u179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:132px;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:984px;
  width:111px;
  height:132px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:107px;
  word-wrap:break-word;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:132px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:984px;
  width:126px;
  height:132px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:122px;
  word-wrap:break-word;
}
#u181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:132px;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:984px;
  width:322px;
  height:132px;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:318px;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:292px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1116px;
  width:231px;
  height:292px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:138px;
  width:227px;
  word-wrap:break-word;
}
#u183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:292px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:1116px;
  width:350px;
  height:292px;
  color:#000000;
  text-align:left;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:346px;
  word-wrap:break-word;
}
#u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:292px;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:1116px;
  width:111px;
  height:292px;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:292px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:1116px;
  width:126px;
  height:292px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:292px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:1116px;
  width:322px;
  height:292px;
  color:#FF0000;
  text-align:left;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:318px;
  word-wrap:break-word;
}
#u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:164px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1408px;
  width:231px;
  height:164px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:227px;
  word-wrap:break-word;
}
#u188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:164px;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:1408px;
  width:350px;
  height:164px;
  color:#000000;
  text-align:left;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:346px;
  word-wrap:break-word;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:164px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:1408px;
  width:111px;
  height:164px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:107px;
  word-wrap:break-word;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:164px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:1408px;
  width:126px;
  height:164px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:164px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:1408px;
  width:322px;
  height:164px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:318px;
  word-wrap:break-word;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:164px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1572px;
  width:231px;
  height:164px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:227px;
  word-wrap:break-word;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:164px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:1572px;
  width:350px;
  height:164px;
  text-align:left;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:346px;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:164px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:1572px;
  width:111px;
  height:164px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:74px;
  width:107px;
  word-wrap:break-word;
}
#u195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:164px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:1572px;
  width:126px;
  height:164px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:164px;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:1572px;
  width:322px;
  height:164px;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:318px;
  word-wrap:break-word;
}
