body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1237px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:41px;
  width:1122px;
  height:336px;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:36px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:36px;
  color:#FFFFFF;
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:227px;
  word-wrap:break-word;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:36px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:0px;
  width:350px;
  height:36px;
  color:#FFFFFF;
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:346px;
  word-wrap:break-word;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:0px;
  width:111px;
  height:36px;
  color:#FFFFFF;
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:0px;
  width:100px;
  height:36px;
  color:#FFFFFF;
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:36px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:0px;
  width:330px;
  height:36px;
  color:#FFFFFF;
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:326px;
  word-wrap:break-word;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:100px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:231px;
  height:100px;
}
#u249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:227px;
  word-wrap:break-word;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:100px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:36px;
  width:350px;
  height:100px;
  text-align:left;
}
#u250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:346px;
  word-wrap:break-word;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:100px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:36px;
  width:111px;
  height:100px;
}
#u251_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:107px;
  word-wrap:break-word;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:36px;
  width:100px;
  height:100px;
}
#u252_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:100px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:36px;
  width:330px;
  height:100px;
  text-align:left;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:326px;
  word-wrap:break-word;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:100px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:136px;
  width:231px;
  height:100px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:227px;
  word-wrap:break-word;
}
#u255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:100px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:136px;
  width:350px;
  height:100px;
  text-align:left;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:346px;
  word-wrap:break-word;
}
#u256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:100px;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:136px;
  width:111px;
  height:100px;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:107px;
  word-wrap:break-word;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:136px;
  width:100px;
  height:100px;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:100px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:136px;
  width:330px;
  height:100px;
  text-align:left;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:326px;
  word-wrap:break-word;
}
#u259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:100px;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:236px;
  width:231px;
  height:100px;
}
#u259_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:227px;
  word-wrap:break-word;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:100px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:236px;
  width:350px;
  height:100px;
  text-align:left;
}
#u260_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:346px;
  word-wrap:break-word;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:100px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:236px;
  width:111px;
  height:100px;
}
#u261_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:107px;
  word-wrap:break-word;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:236px;
  width:100px;
  height:100px;
}
#u262_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  word-wrap:break-word;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:100px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:236px;
  width:330px;
  height:100px;
  text-align:left;
}
#u263_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:326px;
  word-wrap:break-word;
}
