body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1237px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:41px;
  width:1122px;
  height:416px;
}
#u281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:36px;
  color:#FFFFFF;
}
#u281_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  word-wrap:break-word;
}
#u282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:36px;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:0px;
  width:433px;
  height:36px;
  color:#FFFFFF;
}
#u282_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:429px;
  word-wrap:break-word;
}
#u283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:36px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:0px;
  width:111px;
  height:36px;
  color:#FFFFFF;
}
#u283_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:0px;
  width:100px;
  height:36px;
  color:#FFFFFF;
}
#u284_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:36px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:0px;
  width:330px;
  height:36px;
  color:#FFFFFF;
}
#u285_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:326px;
  word-wrap:break-word;
}
#u286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:147px;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:36px;
  width:148px;
  height:147px;
}
#u286_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:144px;
  word-wrap:break-word;
}
#u287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:147px;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:36px;
  width:433px;
  height:147px;
  text-align:left;
}
#u287_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:429px;
  word-wrap:break-word;
}
#u288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:147px;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:36px;
  width:111px;
  height:147px;
}
#u288_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:107px;
  word-wrap:break-word;
}
#u289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:147px;
}
#u289 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:36px;
  width:100px;
  height:147px;
}
#u289_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:96px;
  word-wrap:break-word;
}
#u290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:147px;
}
#u290 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:36px;
  width:330px;
  height:147px;
  color:#FF0000;
}
#u290_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:58px;
  width:326px;
  word-wrap:break-word;
}
#u291_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:174px;
}
#u291 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:183px;
  width:148px;
  height:174px;
}
#u291_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:79px;
  width:144px;
  word-wrap:break-word;
}
#u292_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:174px;
}
#u292 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:183px;
  width:433px;
  height:174px;
  text-align:left;
}
#u292_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:429px;
  word-wrap:break-word;
}
#u293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:174px;
}
#u293 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:183px;
  width:111px;
  height:174px;
}
#u293_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:79px;
  width:107px;
  word-wrap:break-word;
}
#u294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:174px;
}
#u294 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:183px;
  width:100px;
  height:174px;
}
#u294_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:79px;
  width:96px;
  word-wrap:break-word;
}
#u295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:174px;
}
#u295 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:183px;
  width:330px;
  height:174px;
  color:#000000;
}
#u295_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:55px;
  width:326px;
  word-wrap:break-word;
}
#u296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:59px;
}
#u296 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:357px;
  width:148px;
  height:59px;
}
#u296_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:144px;
  word-wrap:break-word;
}
#u297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:59px;
}
#u297 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:357px;
  width:433px;
  height:59px;
  text-align:left;
}
#u297_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:429px;
  word-wrap:break-word;
}
#u298_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:59px;
}
#u298 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:357px;
  width:111px;
  height:59px;
}
#u298_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:107px;
  word-wrap:break-word;
}
#u299_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:59px;
}
#u299 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:357px;
  width:100px;
  height:59px;
}
#u299_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:59px;
}
#u300 {
  border-width:0px;
  position:absolute;
  left:792px;
  top:357px;
  width:330px;
  height:59px;
  color:#000000;
}
#u300_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:326px;
  word-wrap:break-word;
}
